* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    background-image: url(./pronostico/lluvioso.jpg);
    transition-property: background-image;
    transition-duration: 3s;
}

.features {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 10px;
    justify-content: center;
    line-height: 40px;
    text-align: left;
}

.features-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
}

.km {
    color: gray;
    font-size: medium;
}

.iconos {
    width: 15px;
    height: 15px;
}

.bloq {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.weather-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: sans-serif;
    z-index: 100;
}

.background {
    width: 50%;
    height: 100%;
    margin: 100px 0;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(29, 53, 87, 0.8);
    background-size: cover;
    border-radius: 10px;
}

.weather-content h1 {
    font-size: xx-large;
}

.result {
    margin: 20px 0;
    width: 100%;
    font-size: x-large;
}

.get-weather {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.get-weather input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
}

.get-weather select {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
}

#buscador {
    background: #33d6ae;
    color: white;
}

#error {
    color: red;
    text-align: center;
    display: none;
    width: 100%;
    justify-content: center;
}

.pedidoCyP {
    display: flex;
    justify-content: center;
    text-align: center;
}

.next-days {
    display: flex;
    margin: 20px 0;
    width: 100%;
}

.day {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    border-style: solid;
    margin: 0 7px;
    font-size: 16px;
}

.km-resp {
    display: none;
}

.date {
    font-size: large;
}

.forecastinfo {
    display: flex;
    justify-content: center;
    /* font-size: medium; */
}



.separador {
    color: gray;
    font-size: medium;
    margin: 0 2px;
}

.next-wind-ico {
    margin: 0 5px;
}

@media (max-width: 1200px) {
    .date {
        font-size: small;
    }
}
@media (max-width: 960px) {
    .background {
        width: 90%;
    }
}

@media (max-width: 768px) {

    * {
        overflow: scroll;
    }

    .km {
        display: none;
    }

    .km-resp {
        display: inline;
    }

    .features {
        line-height: none;
        font-size: small;
    }

    .container-principal {
        font-size: large;
    }

   .day {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    margin: 5px 0;
   }

   .background {
    margin: 10px 0;
    background-color: transparent;
    padding: 20px;
   }

    .next-days {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}